@page "/account/accessDenied"

@rendermode InteractiveServer

@using Microsoft.AspNetCore.Authorization

<PageTitle>AccessDenied</PageTitle>

<h3 class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">دسترسی غیرمجاز</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
    }

}