@page "/account/login"

@* برای این که به httpContext دسترسی داشته باشیم نباید صفحه ی لاگین را تعاملی کنیم و برای این که رویداد دکمه کار کند باید حتما از EditForm استفاده کنیم *@
@* httpContext در StaticServerSide امکان تغییر دارد *@
@* @rendermode InteractiveServer *@

@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager navigationManager
@inject IHttpClientFactory httpClientFactory
@inject IHttpContextAccessor httpContextAccessor
@inject IClaimsPrincipalProvider claimsPrincipalProvider
@inject AuthenticationStateProvider authenticationStateProvider

        <EditForm Model="loginDto" OnValidSubmit="LoginUser" FormName="login">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="form-group">
                <label for="userName">UserName</label>
                <InputText class="form-control" id="userName" @bind-Value="loginDto.UserName" />
                <ValidationMessage For="() => loginDto.UserName" class="text-danger" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText class="form-control" id="password" @bind-Value="loginDto.Password" />
                <ValidationMessage For="() => loginDto.Password" class="text-danger" />
            </div>
            <div class="form-group">
                <InputCheckbox id="rememberMe" @bind-Value="loginDto.RememberMe" /> Remember me
            </div>
            <div class="form-group">
                <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
            </div>
        </EditForm>

@code {
    private AuthenticationState authState;
    [SupplyParameterFromForm]
    public LoginDto loginDto { get; set; } = new();
    private async Task LoginUser()
    {
        var Client = httpClientFactory.CreateClient("MyHttpClient");
        var url = $"Account/LogIn/";
        var response = await Client.PostAsJsonAsync(url, loginDto);

        if (response.IsSuccessStatusCode)
        {
            var tokenDto = await response.Content.ReadFromJsonAsync<TokenDto>();
            var token = tokenDto.Token;

            //با روش ایجاد کوکی access_Token توسط HttpContext که httpOnly هست
            // httpContextAccessor.HttpContext.Response.Cookies.Append("access_Token", token, new CookieOptions //✅Work
            //     {
            //         HttpOnly = true,    //جلوگیری از دسترسی JavaScript به کوکی توکن
            //         //Secure = true,     ///برای HTTPS
            //         Expires = DateTimeOffset.UtcNow.AddDays(30), // زمان انقضا
            //         SameSite = SameSiteMode.Lax
            //     });

            ClaimsPrincipal claimsPrincipal = claimsPrincipalProvider.GetClaimsPrincipal(tokenDto.Token);

            // تنظیم کوکی احراز هویت
            var authProperties = new AuthenticationProperties
                {
                //بدون نوشتن خط زیر طول عمر کوکی برابر Session است که یعنی با بستن مرورگر یا رفرش از بین می رود حتی اگر ExpiresUtc تنظیم شده باشد
                    IsPersistent = true, // کوکی دائمی می‌شود مثلا اگر تیک "مرا به خاطر بسپار" زده شده باشد
                    ExpiresUtc = DateTime.Now.AddDays(30) // زمان انقضای کوکی
                };
            await httpContextAccessor.HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, claimsPrincipal, authProperties);

            var role = claimsPrincipal.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;

            //بعد از لاگین برای این که متد سازنده ی CustomAuthenticationStateProvider در اسکوپ جدید اجرا شود و AutoLogin انجام شود forceLoad را true می کنیم
            // برای اینکه کوکی‌های جدید به سرور ارسال ‌شوند، باید forceLoad را true  کنیم
            //وفتی صفحه ssr باشد Editform صفحه را رفرش میکند و نیازی به  forceLoad: true نیست
            if (role == "Admin")
                navigationManager.NavigateTo($"/adminDesktop", forceLoad: true);
            if (role == "Member")
                navigationManager.NavigateTo($"/memberDesktop", forceLoad: true);
        }
        else
        {
            var errorContent = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Error Adding data: {response.StatusCode} - {errorContent}");
        }

    }
}
